ESEWA_MERCHANT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_GATEWAY_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
FRONTEND_SUCCESS_URL=http://localhost:3000/payment/esewa/success
FRONTEND_FAILURE_URL=http://localhost:3000/payment/esewa/failure
VERIFICATION_FEE_NPR=199
BACKEND_BASE_URL=http://localhost:5000
